<!-- Validation failure messages -->
<% if @sales_rep.errors.any? %>
  <% @sales_rep.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Sales Rep</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_sales_rep" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for active -->

      <div class="checkbox">
        <label for="active">
          <input type="checkbox" id="active" name="active" value="1" <%= "checked" if @sales_rep.active %>>
          Active
        </label>
      </div>


      <!-- Label and input for last_edited_by -->
      <input name="last_edited_by" type="hidden" value="<%= current_user.id %>">


        <input type="text" id="last_edited_by" name="last_edited_by" placeholder="Last edited by" class="form-control" value="<%= @sales_rep.last_edited_by %>">

      </div>



      <!-- Label and input for name -->

      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>


        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @sales_rep.name %>">

      </div>



      <button class="btn btn-success">
        Create Sales Rep
      </button>
      or
      <a href="/sales_reps">Cancel</a>

    </form>

  </div>
</div>
