<div class="page-header">
  <h3>Payment Status #<%= @payment_status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Active</dt>
      <dd><%= @payment_status.active %></dd>


      <dt>Last edited by</dt>
      <dd><%= @payment_status.last_edited_by %></dd>


      <dt>Status name</dt>
      <dd><%= @payment_status.status_name %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/payment_statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/payment_statuses/<%= @payment_status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_payment_status/<%= @payment_status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
