<!-- Validation failure messages -->
<% if @data_status.errors.any? %>
  <% @data_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Data Status</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_data_status" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for last_edited_by -->

      <div class="form-group">
        <label for="last_edited_by" class="control-label">
          Last edited by
        </label>


        <input type="text" id="last_edited_by" name="last_edited_by" placeholder="Last edited by" class="form-control" value="<%= @data_status.last_edited_by %>">

      </div>



      <!-- Label and input for months_late -->

      <div class="form-group">
        <label for="months_late" class="control-label">
          Months late
        </label>


        <input type="text" id="months_late" name="months_late" placeholder="Months late" class="form-control" value="<%= @data_status.months_late %>">

      </div>



      <!-- Label and input for db_type -->

      <div class="form-group">
        <label for="db_type" class="control-label">
          Db type
        </label>


        <input type="text" id="db_type" name="db_type" placeholder="Db type" class="form-control" value="<%= @data_status.db_type %>">

      </div>



      <!-- Label and input for month -->

      <div class="form-group">
        <label for="month" class="control-label">
          Month
        </label>


        <input type="text" id="month" name="month" placeholder="Month" class="form-control" value="<%= @data_status.month %>">

      </div>



      <!-- Label and input for year -->

      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>


        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @data_status.year %>">

      </div>



      <!-- Label and input for client_id -->

      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>


        <input type="text" id="client_id" name="client_id" placeholder="Client" class="form-control" value="<%= @data_status.client_id %>">

      </div>



      <button class="btn btn-success">
        Create Data Status
      </button>
      or
      <a href="/data_statuses">Cancel</a>

    </form>

  </div>
</div>
