<!-- Validation failure messages -->
<% if @client_information.errors.any? %>
  <% @client_information.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Client Information</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_client_information" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for client_id -->

      <input name="client_id" type="hidden" value="<%= @latest_client_information.client_id %>">

       <!-- Label and input for last_edited_by -->
      <input name="last_edited_by" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for last_contact_date -->

      <input name="last_contact_date" type="hidden" value="<%= @latest_client_information.last_contact_date %>">

      <!-- Label and input for exec_sponsor -->

      <input name="exec_sponsor" type="hidden" value="<%= @latest_client_information.exec_sponsor %>">

     <!-- Label and input for expiration_date -->

     <input name="expiration_date" type="hidden" value="<%= @latest_client_information.expiration_date %>">

      <!-- Label and input for reactivation_date -->

     <input name="reactivation_date" type="hidden" value="<%= @latest_client_information.reactivation_date %>">


      <!-- Label and input for termination_notice -->

      <input name="termination_notice" type="hidden" value="<%= @latest_client_information.termination_notice %>">

      <!-- Label and input for annual_fee -->

      <input name="annual_fee" type="hidden" value="<%= @latest_client_information.annual_fee %>">

      <!-- Label and input for sales_rep_id -->

      <input name="sales_rep_id" type="hidden" value="<%= @latest_client_information.sales_rep_id %>">

      <!-- Label and input for type -->
      <input name="contract_type" type="hidden" value="<%= @latest_client_information.contract_type %>">

      <!-- Label and input for payment_status_id -->

      <div class="form-group">
        <label for="payment_status_id" class="control-label">
          Payment Status
        </label>

        <%= select_tag(:payment_status_id, options_from_collection_for_select(PaymentStatus.all, :id, :status_name, @latest_client_information.payment_status_id), :class => "form-control") %>

      </div>

      <!-- Label and input for balance -->

      <div class="form-group">
        <label for="balance" class="control-label">
          Balance
        </label>


        <input type="text" id="balance" name="balance" placeholder="Balance" class="form-control" value="<%= @latest_client_information.balance %>">

      </div>



      <button class="btn btn-success">
        Create Client Information
      </button>
      or
      <a href="/client_informations">Cancel</a>

    </form>

  </div>
</div>
