<!-- Validation failure messages -->
<% if @client_information.errors.any? %>
  <% @client_information.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class= "container">
  <div class="page-header col-md-10 col-md-offset-1">
    <h4>Contact Information - <%= @latest_client_information.client.clientname %></h4>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Contact Information</h3>
        </div>
        <div class="panel-body">
          <form action="/create_client_information" method="post">

            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for client_id -->

            <input name="client_id" type="hidden" value="<%= @latest_client_information.client_id %>">

             <!-- Label and input for last_edited_by -->
            <input name="last_edited_by" type="hidden" value="<%= current_user.id %>">

           <!-- Label and input for expiration_date -->

           <input name="expiration_date" type="hidden" value="<%= @latest_client_information.expiration_date %>">

            <!-- Label and input for reactivation_date -->

           <input name="reactivation_date" type="hidden" value="<%= @latest_client_information.reactivation_date %>">

            <!-- Label and input for termination_notice -->

            <input name="termination_notice" type="hidden" value="<%= @latest_client_information.termination_notice %>">

            <!-- Label and input for annual_fee -->

            <input name="annual_fee" type="hidden" value="<%= @latest_client_information.annual_fee %>">

            <!-- Label and input for sales_rep_id -->

            <input name="sales_rep_id" type="hidden" value="<%= @latest_client_information.sales_rep_id %>">

            <!-- Label and input for type -->
            <input name="contract_type" type="hidden" value="<%= @latest_client_information.contract_type %>">

            <!-- Label and input for payment_status_id -->

            <input name="payment_status_id" type="hidden" value="<%= @latest_client_information.payment_status_id %>">

            <!-- Label and input for balance -->

            <input name="balance" type="hidden" value="<%= @latest_client_information.balance %>">

             <!-- Label and input for last_contact_date -->

            <input name="last_contact_date" type="hidden" value="<%= @latest_client_information.last_contact_date %>">

            <div class="form-group">
              <label for="last_contact_date" class="control-label">
                Last Contact Date
              </label>


              <input type="date" id="last_contact_date" name="last_contact_date" placeholder="Last contact date" class="form-control" value="<%= @latest_client_information.last_contact_date %>">

            </div>

            <!-- Label and input for exec_sponsor -->

            <input name="exec_sponsor" type="hidden" value="<%= @latest_client_information.exec_sponsor %>">

            <div class="form-group">
              <label for="exec_sponsor" class="control-label">
                Executive Sponsor
              </label>


              <input type="text" id="exec_sponsor" name="exec_sponsor" placeholder="Executive Sponsor" class="form-control" value="<%= @latest_client_information.exec_sponsor %>">

            </div>





            <button class="btn btn-success">
              Create Client Information
            </button>
            or
            <a href="/client_informations/<%= @latest_client_information.client_id %>">Cancel</a>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

