<div class="container">
  <div class="page-header">
    <h3>Client Information - <%= @latest_client_information.clientname %></h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Current Status</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Client</dt>
            <dd><%= @latest_client_information.clientname %></dd>

            <dt>Contract Type</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.contract_type %></dd>

            <dt>Sales Representative</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.sales_rep.name %></dd>

            <dt>Annual Fee</dt>
            <dd><%= number_to_currency(@latest_client_information.client_informations.order('updated_at DESC').first.annual_fee, precision: 0) %></dd>

            <dt>Expiration Date</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.expiration_date %></dd>

            <dt>Termination Notice</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.termination_notice %></dd>

            <dt>Implementation Status</dt>
            <dd><%= @latest_client_information.client_onboarding_statuses.order('updated_at DESC').first.impl_status.status_name %></dd>

            <dt>Data Delinquent Months</dt>
            <dd>Fill Me In</dd>

            <dt>Balance</dt>
            <dd><%= number_to_currency(@latest_client_information.client_informations.order('updated_at DESC').first.balance, precision: 0) %></dd>

            <dt>Payment Status</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.payment_status.status_name %></dd>

            <dt>Exec Sponsor</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.exec_sponsor %></dd>

            <dt>Last Contact Date</dt>
            <dd><%= @latest_client_information.client_informations.order('updated_at DESC').first.last_contact_date %></dd>

            <dt>At-Risk</dt>
            <dd><%= Atrisk.where(client_id: @latest_client_information.id).order('updated_at DESC').first.current_status %></dd>

            <dt>At-Risk Reason</dt>
            <dd><%= Atrisk.where(client_id: @latest_client_information.id).order('updated_at DESC').first.current_reason %></dd>

           </dl>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
        </div>

        <div class="panel-body">

          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a href="/client_informations/<%= @latest_client_information.id %>/contact" class="btn btn-primary">View Contact Detail</a>
              <a href="/client_informations/<%= @latest_client_information.id %>/new_contact" class="btn btn-warning">Update Contact</a>
            </div>
          </div>

          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a href="/client_informations/<%= @latest_client_information.id %>/payment" class="btn btn-primary">View Payment Detail</a>
              <a href="/client_informations/<%= @latest_client_information.id %>/new_payment" class="btn btn-warning">Update Payment</a>
            </div>
          </div>

          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a href="/client_informations/<%= @latest_client_information.id %>/contract" class="btn btn-primary">View Contract Detail</a>
               <a href="/client_informations/<%= @latest_client_information.id %>/new_contract" class="btn btn-warning">Update Contract</a>
            </div>
          </div>

          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a href="/client_onboarding_statuses/<%= @latest_client_information.id %>" class="btn btn-primary">View Impl Detail</a>
              <a href="/client_onboarding_statuses/<%= @latest_client_information.id %>/new" class="btn btn-warning">Update Impl</a>
            </div>
          </div>

          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 8px;">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a href="/data_statuses/<%= @latest_client_information.id %>" class="btn btn-primary">View Data Detail</a>
               <a href="/data_statuses/new" class="btn btn-warning">Update Data Status</a>
            </div>
          </div>
          <hr>
          <div class="row" style = "padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <a href="/client_informations" class="btn btn-success btn-block">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
