<div class="page-header">
  <h1>
    Clients

    <a href="/clients/new" class="btn btn-lg btn-success">New Client</a>

  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Active</th>

        <th>Client Name</th>

        <th>ID</th>

        <th>Actions</th>
      </tr>

      <% @clients.each do |client| %>
      <tr>

        <td>
          <% if client.active %>
          <i class="fa fa-check-square fa-2x" color="green"></i>
          <% else %>
          <i class="fa fa-ban fa-2x" color="red"></i>
          <% end %>

        </td>

        <td><%= client.clientname %></td>

        <td><%= client.id %></td>

        <td>

          <a href="/clients/<%= client.id %>/edit" class="btn btn-warning">Edit</a>

          <% if client.active %>
          <a href="/deactivate_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">Deactivate</a>
          <% else %>
          <a href="/activate_client/<%= client.id %>" class="btn btn-success" rel="nofollow">Activate</a>

          <% end %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
