<div class="page-header">
  <h3>Client #<%= @client.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Active</dt>
      <dd><%= @client.active %></dd>


      <dt>Last edited by</dt>
      <dd><%= @client.last_edited_by %></dd>


      <dt>Clientname</dt>
      <dd><%= @client.clientname %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/clients" class="btn btn-primary">
        Back
      </a>
      <a href="/clients/<%= @client.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_client/<%= @client.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
