<!-- Validation failure messages -->
<% if @client_onboarding_status.errors.any? %>
  <% @client_onboarding_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class= "container">
  <div class="page-header col-md-10 col-md-offset-1">
    <h4>Implementation Information - <%= @latest_onboarding_status.client.clientname %></h4>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Contact Information</h3>
        </div>
        <div class="panel-body">

          <form action="/create_client_onboarding_status" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for last_edited_by -->
          <input name="last_edited_by" type="hidden" value="<%= current_user.id %>">

          <!-- Label and input for client_id -->
          <input name="client_id" type="hidden" value="<%= @latest_onboarding_status.client_id %>">

          <!-- Label and input for kickoff_date -->

          <div class="form-group">
            <label for="kickoff_date" class="control-label">
              Update Kickoff date
            </label>


            <input type="date" id="kickoff_date" name="kickoff_date" placeholder="Kickoff date" class="form-control" value="<%= @latest_onboarding_status.kickoff_date %>">

          </div>

          <!-- Label and input for certification_date -->

          <div class="form-group">
            <label for="certification_date" class="control-label">
              Update Certification Date
            </label>


            <input type="date" id="certification_date" name="certification_date" placeholder="Certification date" class="form-control" value="<%= @latest_onboarding_status.certification_date %>">

          </div>
          <!-- Label and input for current_impl_status -->

          <div class="form-group">
            <label for="impl_status_id" class="control-label">
            Update Current Status
            </label>

             <%= select_tag(:impl_status_id, options_from_collection_for_select(ImplStatus.where(active: true), :id, :status_name, @latest_onboarding_status.impl_status_id), :class => "form-control") %>

          </div>


          <!-- Label and input for notes -->
          <div class="form-group">
            <label for="notes" class="control-label">
            Update Notes
            </label>


            <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @latest_onboarding_status.notes %></textarea>

          </div>


          <button class="btn btn-success">
            Update Client Onboarding Status
          </button>
          or

          <a href="/client_onboarding_statuses/<%= @latest_onboarding_status.client_id %>">Cancel</a>


        </form>

      </div>
    </div>
  </div>
</div>
