<!-- Validation failure messages -->
<% if @client_onboarding_status.errors.any? %>
  <% @client_onboarding_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Client Onboarding Status</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_client_onboarding_status" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for last_edited_by -->

      <div class="form-group">
        <label for="last_edited_by" class="control-label">
          Last edited by
        </label>


        <input type="text" id="last_edited_by" name="last_edited_by" placeholder="Last edited by" class="form-control" value="<%= @client_onboarding_status.last_edited_by %>">

      </div>



      <!-- Label and input for notes -->

      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>


        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @client_onboarding_status.notes %></textarea>

      </div>



      <!-- Label and input for current_impl_status -->

      <div class="form-group">
        <label for="impl_status_id" class="control-label">
          Current impl status
        </label>


        <input type="text" id="impl_status_id" name="impl_status_id" placeholder="Current impl status" class="form-control" value="<%= @client_onboarding_status.impl_status_id %>">

      </div>



      <!-- Label and input for certification_date -->

      <div class="form-group">
        <label for="certification_date" class="control-label">
          Certification date
        </label>


        <input type="text" id="certification_date" name="certification_date" placeholder="Certification date" class="form-control" value="<%= @client_onboarding_status.certification_date %>">

      </div>



      <!-- Label and input for kickoff_date -->

      <div class="form-group">
        <label for="kickoff_date" class="control-label">
          Kickoff date
        </label>


        <input type="text" id="kickoff_date" name="kickoff_date" placeholder="Kickoff date" class="form-control" value="<%= @client_onboarding_status.kickoff_date %>">

      </div>



      <!-- Label and input for client_id -->

      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>


        <input type="text" id="client_id" name="client_id" placeholder="Client" class="form-control" value="<%= @client_onboarding_status.client_id %>">

      </div>



      <button class="btn btn-success">
        Create Client Onboarding Status
      </button>
      or
      <a href="/client_onboarding_statuses">Cancel</a>

    </form>

  </div>
</div>
