<!-- Validation failure messages -->
<% if @impl_status.errors.any? %>
  <% @impl_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Impl Status #<%= @impl_status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/update_impl_status/<%= @impl_status.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for active -->
      <input name="active" type="hidden" value="<%= @impl_status.active %>">


      <!-- Label and input for last_edited_by -->
      <input name="last_edited_by" type="hidden" value="<%= @impl_status.last_edited_by %>">

      <!-- Label and input for status_name -->

      <div class="form-group">
        <label for="status_name" class="control-label">
          Status name
        </label>


        <input type="text" id="status_name" name="status_name" placeholder="Status name" class="form-control" value="<%= @impl_status.status_name %>">

      </div>



      <button class="btn btn-warning">
        Update Impl Status
      </button>
      or

      <a href="/impl_statuses/<%= @impl_status.id %>">Cancel</a>


    </form>

  </div>
</div>
